// @import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../../../node_modules/bootstrap-vue/src/index.scss';

// Color theme //
// $first-color: #e7dfcf;
// $second-color: #2a292f;
// $third-color: #ad827b;
// $fourth-color: #32421D;
// $fifth-color: #35402a;

$first-color: #e7dfcf;
$second-color: #2a292f;
$third-color: #32421C;
$fourth-color: #C2DFB7;
$fifth-color: #35402a;

$light-text: #fff;
$dark-text: black;

//C3DFB7 Vert clair logo

// Font //
$font-bigTitle: 'Dancing Script', 'Courier New', Courier, monospace;
$font-text: sans-serif, 'Courier New', Courier, monospace;